# Python cache
__pycache__/
*.py[cod]

# IDEs
.idea/
.vscode/
.pydev/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
*.egg-info/
.egg/
dist/
build/

# Temporary files
*.log
*.tmp
*.bak